parameters:
    ignoreErrors:
        - '#Mockery\\MockInterface::shouldReceive\(\)#'
        - '#Mockery\\MockInterface given#'

        # because of \Elasticsearch6\Tests\RegisteredNamespaceTest
        - '#Call to an undefined method Elasticsearch6\\Client::foo\(\)#'
        - '#Call to an undefined method Elasticsearch6\\Client::bar\(\)#'

        # because of \Elasticsearch6\Tests\ClientBuilderTest
        - '#expects Psr\\Log\\LoggerInterface, Elasticsearch6\\Tests\\ClientBuilder\\DummyLogger given.$#'

        # probably PHPStan issue, because it actually works https://3v4l.org/s3U2B
        - '#Argument of an invalid type array\|stdClass supplied for foreach, only iterables are supported#'
